---
http_interactions:
- request:
    method: get
    uri: http://www.rce-event.de/api/filepool.php?id=141552831&mode=event&rceid=0&token=test_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Request-Filtered-By:
      - RCE-WAF
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"asset":[{"fid":"141552831","createdRaw":{"date":"2018-01-19
        15:44:48.000000","timezone_type":3,"timezone":"Europe\/Berlin"},"created":"2018-19-01
        15:44:48","updated":{"date":"2018-01-19 15:44:48.000000","timezone_type":3,"timezone":"Europe\/Berlin"},"filename":"playing-god_trailer_1280x0720.mp4","caption":null,"filesize":"40108099","copyright":"Real
        Fiction","height":"720","width":"1280","mime":"video\/mp4","slot":"video_mp4","uuid":null,"location":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/2-WghFD2pHfMKtLvj3GXnq.mp4","eventId":["141552831"],"attributes":{"audiobitrate":"317375","audiochannels":"2","audioformat":"AAC
        (Advanced Audio Coding)","embended_player":"https:\/\/playout.3qsdn.com\/321d58c4-fd28-11e7-9273-002590c750be","filebitrate":"1961675","filefid":"141552831","fileformat":"QuickTime
        \/ MOV","filefps":"25","filelength":"140.330667","filemodetype":"url","filename":"playing-god_trailer_1280x0720.mp4","filepreview":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/WR7tCr2m3cQwYKHM.jpg","filepreview_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/fdZnmGgD39Vxchb4.jpg","fileurlMP4
        144p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/6-xrQGXCbdYkt9m2WJPcZT.mp4","fileurlMP4
        240p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/5-DRH2zqBvhVrWNZYxc3w8.mp4","fileurlMP4
        360p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/4-qT3WGJ4Bw2CK9cPmRhdt.mp4","fileurlMP4
        480p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/3-R7DvKNC2w6MgBdWpcX8t.mp4","fileurlMP4
        720p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/2-WghFD2pHfMKtLvj3GXnq.mp4","fileurlWebM
        144p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/12-zRvMwV6Cn7fr42GNTDK9.webm","fileurlWebM
        240p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/11-B4Z6MzqtW2vpJNrX7Pjm.webm","fileurlWebM
        360p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/10-RjBZg4zqd3wcY8MWFtQD.webm","fileurlWebM
        480p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/9-znMbXPrKfBC9VvGRydhp.webm","fileurlWebM
        720p":"http:\/\/sdn-global-prog-cache.3qsdn.com\/6603\/files\/18\/01\/831453\/8-P9rVtRvp4JDyG3xj2TFC.webm","filmneustart":"08.02.2018","picture0":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/WR7tCr2m3cQwYKHM.jpg","picture0_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/fdZnmGgD39Vxchb4.jpg","picture1":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/bwyzfjYdWVCkhg3N.jpg","picture10":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/nCmhQW9Bp2HN7kMr.jpg","picture10_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/NLxdp3Hc4wRCBPbm.jpg","picture1_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/pkMxnPwT9RGfj7zN.jpg","picture2":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/vWV4JZbfHxBzqhy9.jpg","picture2_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/B8fHJDRQFnqgGpc4.jpg","picture3":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/PbDBk3RjgcNGphYr.jpg","picture3_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/hHJLy6WgmqP2dwnT.jpg","picture4":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/3k6gVNBfYzZTCbqJ.jpg","picture4_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/9GNJW3dkfYbrQVmF.jpg","picture5":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/M3Wf4QDmCkgVnh6T.jpg","picture5_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/cYGnQwt6p3jRdKX4.jpg","picture6":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/6NLbrJCt2RMH3gqn.jpg","picture6_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/tx3DWX6VfJ4qBQHg.jpg","picture7":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/HW9tbXmD4fy3M8pP.jpg","picture7_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/8n4XBQmvVpFHyhg7.jpg","picture8":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/4QHjVqcdbw2mvXZ6.jpg","picture8_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/NHG2rjC6FmTPMWyz.jpg","picture9":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/zWvtcGhCZ8dL4fDm.jpg","picture9_thumbnail":"https:\/\/sdn-global-prog-cache.3qsdn.com\/thumbs\/2015\/6603\/831453\/mTtckWqp6Xd3xYJG.jpg","sdn_processed":"1","sdnid":"831453"},"filehandler":"video_mp4","sdn":"1","filenametext":"Playing
        God","filewidthandhight":"1280 x 720"},{"fid":"141552831","createdRaw":{"date":"2018-01-19
        15:45:44.000000","timezone_type":3,"timezone":"Europe\/Berlin"},"created":"2018-19-01
        15:45:44","updated":{"date":"2018-01-19 15:45:44.000000","timezone_type":3,"timezone":"Europe\/Berlin"},"filename":"playing-god_trailer_1920x1080.mp4","caption":null,"filesize":"57359372","copyright":"Real
        Fiction","height":"1080","width":"1920","mime":"video\/mp4","slot":"video_mp4","uuid":null,"location":"http:\/\/sdn-gl[...]
